## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN', 'NAME'], inplace=True)

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_counts = application_df["APPLICATION_TYPE"].value_counts()
application_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = [application_counts[application_counts < 500].index]

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df["CLASSIFICATION"].value_counts()
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

classifications_to_replace = [classification_counts[classification_counts < 1000].index]



# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [9]:
# cutoff more value
affiliation_counts = application_df["AFFILIATION"].value_counts()
affiliation_counts

AFFILIATION
Independent         18480
CompanySponsored    15705
Family/Parent          64
National               33
Regional               13
Other                   4
Name: count, dtype: int64

In [10]:
# Affiliation
affiliation_to_replace = [affiliation_counts[affiliation_counts < 5000].index]

# Replace in dataframe
for aff in affiliation_to_replace:
    application_df['AFFILIATION'] = application_df['AFFILIATION'].replace(aff,"Other")

# Check to make sure replacement was successful
application_df['AFFILIATION'].value_counts()

AFFILIATION
Independent         18480
CompanySponsored    15705
Other                 114
Name: count, dtype: int64

In [11]:
income_counts = application_df["INCOME_AMT"].value_counts()
income_counts

INCOME_AMT
0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: count, dtype: int64

In [12]:
# Income Amount
income_amt_to_replace = [income_counts[income_counts < 300].index]

# Replace in dataframe
for amt in income_amt_to_replace:
    application_df['INCOME_AMT'] = application_df['INCOME_AMT'].replace(amt,"Other")

# Check to make sure replacement was successful
application_df['INCOME_AMT'].value_counts()

INCOME_AMT
0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
Other              564
10000-24999        543
Name: count, dtype: int64

In [13]:
case_counts = application_df["USE_CASE"].value_counts()
case_counts

USE_CASE
Preservation     28095
ProductDev        5671
CommunityServ      384
Heathcare          146
Other                3
Name: count, dtype: int64

In [14]:
# Use Case
use_case_to_replace = [case_counts[case_counts < 500].index]

# Replace in dataframe
for cas in use_case_to_replace:
    application_df['USE_CASE'] = application_df['USE_CASE'].replace(cas,"Other")

# Check to make sure replacement was successful
application_df['USE_CASE'].value_counts()

USE_CASE
Preservation    28095
ProductDev       5671
Other             533
Name: count, dtype: int64

In [15]:
organization_counts = application_df["ORGANIZATION"].value_counts()
organization_counts

ORGANIZATION
Trust           23515
Association     10255
Co-operative      486
Corporation        43
Name: count, dtype: int64

In [16]:
# Organization
organization_to_replace = [organization_counts[organization_counts < 500].index]

# Replace in dataframe
for org in organization_to_replace:
    application_df['ORGANIZATION'] = application_df['ORGANIZATION'].replace(org,"Other")

# Check to make sure replacement was successful
application_df['ORGANIZATION'].value_counts()

ORGANIZATION
Trust          23515
Association    10255
Other            529
Name: count, dtype: int64

In [35]:
# Check the dataframe to find categorical columns
application_df.head(3)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Other,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0

In [18]:
# Convert categorical data to numeric with `pd.get_dummies`
categorical_columns = ["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "ORGANIZATION","INCOME_AMT", "SPECIAL_CONSIDERATIONS"]
encode_application_df = pd.get_dummies(application_df, columns=categorical_columns)
encode_application_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 36 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   STATUS                        34299 non-null  int64
 1   ASK_AMT                       34299 non-null  int64
 2   IS_SUCCESSFUL                 34299 non-null  int64
 3   APPLICATION_TYPE_Other        34299 non-null  bool
 4   APPLICATION_TYPE_T10          34299 non-null  bool
 5   APPLICATION_TYPE_T19          34299 non-null  bool
 6   APPLICATION_TYPE_T3           34299 non-null  bool
 7   APPLICATION_TYPE_T4           34299 non-null  bool
 8   APPLICATION_TYPE_T5           34299 non-null  bool
 9   APPLICATION_TYPE_T6           34299 non-null  bool
 10  APPLICATION_TYPE_T7           34299 non-null  bool
 11  APPLICATION_TYPE_T8           34299 non-null  bool
 12  AFFILIATION_CompanySponsored  34299 non-null  bool
 13  AFFILIATION_Independent       34299 non-null  bool
 14  AFFILIATION_Other             34299 non-null  bool
 15  CLASSIFICATION_C1000          34299 non-null  bool
 16  CLASSIFICATION_C1200          34299 non-null  bool
 17  CLASSIFICATION_C2000          34299 non-null  bool
 18  CLASSIFICATION_C2100          34299 non-null  bool
 19  CLASSIFICATION_C3000          34299 non-null  bool
 20  CLASSIFICATION_Other          34299 non-null  bool
 21  USE_CASE_Other                34299 non-null  bool
 22  USE_CASE_Preservation         34299 non-null  bool
 23  USE_CASE_ProductDev           34299 non-null  bool
 24  ORGANIZATION_Association      34299 non-null  bool
 25  ORGANIZATION_Other            34299 non-null  bool
 26  ORGANIZATION_Trust            34299 non-null  bool
 27  INCOME_AMT_0                  34299 non-null  bool
 28  INCOME_AMT_1-9999             34299 non-null  bool
 29  INCOME_AMT_10000-24999        34299 non-null  bool
 30  INCOME_AMT_100000-499999      34299 non-null  bool
 31  INCOME_AMT_1M-5M              34299 non-null  bool
 32  INCOME_AMT_25000-99999        34299 non-null  bool
 33  INCOME_AMT_Other              34299 non-null  bool
 34  SPECIAL_CONSIDERATIONS_N      34299 non-null  bool
 35  SPECIAL_CONSIDERATIONS_Y      34299 non-null  bool
dtypes: bool(33), int64(3)
memory usage: 1.9 MB

In [19]:
# Split our preprocessed data into our features and target arrays
y = encode_application_df['IS_SUCCESSFUL']
X = encode_application_df.drop(columns='IS_SUCCESSFUL')

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 1)

In [20]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [30]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units = 80,activation="relu",input_dim=35))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units = 60,activation="relu"))

# more hidden layer
nn_model.add(tf.keras.layers.Dense(units = 40,activation="elu"))

nn_model.add(tf.keras.layers.Dense(units = 20,activation="elu"))

nn_model.add(tf.keras.layers.Dense(units = 10,activation="swish"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units = 1,activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_14 (Dense)            (None, 80)                2880

 dense_15 (Dense)            (None, 60)                4860

 dense_16 (Dense)            (None, 40)                2440

 dense_17 (Dense)            (None, 20)                820

 dense_18 (Dense)            (None, 10)                210

 dense_19 (Dense)            (None, 1)                 11

=================================================================
Total params: 11221 (43.83 KB)
Trainable params: 11221 (43.83 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [33]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [34]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 4s 3ms/step - loss: 0.5395 - accuracy: 0.7384
Epoch 2/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5396 - accuracy: 0.7380
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7387
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7388
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7388
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7388
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7390
Epoch 8/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5381 - accuracy: 0.7391
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5378 - accuracy: 0.7390
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7395
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7394
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5375 - accuracy: 0.7384
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7397
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5372 - accuracy: 0.7392
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5366 - accuracy: 0.7389
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5368 - accuracy: 0.7401
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7396
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7399
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7402
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7396
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7396
Epoch 22/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5356 - accuracy: 0.7399
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5360 - accuracy: 0.7395
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7403
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7393
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7397
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7401
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7402
Epoch 29/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5356 - accuracy: 0.7397
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5353 - accuracy: 0.7399
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7403
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7404
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7406
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7395
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7402
Epoch 36/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5348 - accuracy: 0.7399
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7411
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7399
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7410
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7407
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7398
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5345 - accuracy: 0.7399
Epoch 43/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5343 - accuracy: 0.7403
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7402
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7404
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7408
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7400
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7415
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5337 - accuracy: 0.7405
Epoch 50/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5343 - accuracy: 0.7406
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7401
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7412
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7399
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7400
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7406
Epoch 56/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5333 - accuracy: 0.7407
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5333 - accuracy: 0.7402
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5337 - accuracy: 0.7401
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7400
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7400
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7405
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7405
Epoch 63/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5334 - accuracy: 0.7409
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5335 - accuracy: 0.7401
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7406
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7407
Epoch 67/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5331 - accuracy: 0.7402
Epoch 68/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5336 - accuracy: 0.7402
Epoch 69/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5334 - accuracy: 0.7402
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5330 - accuracy: 0.7410
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7404
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5331 - accuracy: 0.7409
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7408
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7408
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7404
Epoch 76/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5328 - accuracy: 0.7402
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5329 - accuracy: 0.7407
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7403
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7400
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7404
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5330 - accuracy: 0.7410
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5327 - accuracy: 0.7406
Epoch 83/100
804/804 [==============================] - 3s 4ms/step - loss: 0.5324 - accuracy: 0.7408
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5325 - accuracy: 0.7409
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7404
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5325 - accuracy: 0.7410
Epoch 87/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5324 - accuracy: 0.7410
Epoch 88/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5327 - accuracy: 0.7406
Epoch 89/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5327 - accuracy: 0.7413
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5326 - accuracy: 0.7406
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.7412
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5324 - accuracy: 0.7409
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7401
Epoch 94/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5328 - accuracy: 0.7405
Epoch 95/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5326 - accuracy: 0.7410
Epoch 96/100
804/804 [==============================] - 4s 4ms/step - loss: 0.5327 - accuracy: 0.7406
Epoch 97/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5328 - accuracy: 0.7408
Epoch 98/100
804/804 [==============================] - 4s 5ms/step - loss: 0.5325 - accuracy: 0.7411
Epoch 99/100
804/804 [==============================] - 5s 6ms/step - loss: 0.5322 - accuracy: 0.7408
Epoch 100/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5324 - accuracy: 0.7407

In [36]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5691 - accuracy: 0.7273 - 521ms/epoch - 2ms/step
Loss: 0.5690529942512512, Accuracy: 0.7273469567298889

In [37]:
# Export our model to HDF5 file
nn_model.save('AlphabetSoupCharity_Optimization.h5')

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(